<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDi8Pcfcn1N4dggD7QzlLDGEun8hfE1esc</string>
	<key>GCM_SENDER_ID</key>
	<string>346721657475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adminstomble.stomble</string>
	<key>PROJECT_ID</key>
	<string>stomble-app</string>
	<key>STORAGE_BUCKET</key>
	<string>stomble-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346721657475:ios:b7c3c72f9e55e089b3f1b6</string>
</dict>
</plist>